.product-list-wrapper {
  padding: 0;
}

.product-list-back-button {
  text-decoration: none;
  color: #2e2614;
  font-size: 13px;
  font-family: 'rutanLight';
  letter-spacing: 2.08px;
  margin-top: 80px;
}

.product-list-back-button:hover {
  color: #2e2614;
  text-decoration: none;
}

.product-list-back-button img {
  width: 10px;
  margin-right: 5px;
}

.product-list-label {
  font-size: 48px;
  margin-top: 30px;
  color: #2e2614;
  text-transform: uppercase;
  font-family: 'rutanLight';
}

.product-list-text {
  width: 70%;
  color: #2e2614;
  font-family: 'rutanLight';
  margin-bottom: 20px;
}

.product-list-card-text a {
  text-decoration: none;
  color: #2e2614;
}

.product-list-card-text a:hover {
  color: #2e2614;
}

.product-list-image {
  margin-left: 0;
  width: 100%;
}

.product-list-image img {
  height: 220px;
  width: 220px;
  max-width: 100%;
}

.product-list-card-wrapper {
  flex-wrap: wrap;
  position: relative;
  margin-right: 30px;
  margin-bottom: 40px;
}

.product-list-card-title {
  color: #3a2f2d;
  text-align: center;
  background-color: #fefaef;
  padding: 15px 30px;
  font-family: 'rutan';
}

.product-list-card-text {
  text-align: center;
  background-color: #f6f1ea;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 18px 18px;
  font-family: 'rutan';
}
