.hero-logo {
  text-align: right;
  font-family: 'dekiru';
  font-size: 82px;
  margin-top: 100px;
  color: #3a3a3a;
}

.hero-text {
  text-align: right;
  text-transform: uppercase;
  color: #3e3331;
  font-size: 35px;
  font-family: 'dekiru';
  margin-bottom: 10px;
}

.hero-sub-text {
  text-align: right;
  text-transform: uppercase;
  color: #3e3331;
  font-size: 20px;
  font-family: 'rutan';
  letter-spacing: 3.2px;
}

.hero-button {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 170px;
}

.hero-button button {
  text-align: center;
  width: 224px;
  height: 54px;
  text-transform: uppercase;
  border: 2px solid #6e4e37;
  background-color: #6e4e37;
  color: #fff;
  font-size: 20px;
}

.carousel-slide-1 {
  text-transform: uppercase;
  color: #000;
  font-size: 22px;
  letter-spacing: 2.4px;
  font-family: 'rutanLight';
}

.carousel-slide-2 {
  color: #000;
}

.carousel-slide-3 {
  color: #000;
}

.carousel-slide-4 {
  font-size: 20px;
  color: #000;
  text-align: right;
  letter-spacing: 3.2px;
  font-family: 'rutanLight';
  top: 40%;
}

.carousel-slide-4 h3 {
  font-family: 'dekiru';
  font-size: 120px;
  color: #000;
}

.empty-div {
  width: 100%;
}
