/* Font Imports */
@font-face {
  font-family: 'rutan';
  src: url('./assets/fonts/rutan/rutan.ttf') format('truetype'),
    url('./assets//fonts/rutan/rutan.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanMedium';
  src: url('./assets/fonts/rutan/rutan-medium.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanLight';
  src: url('./assets/fonts/rutan/rutan-light.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-light.ttf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanThin';
  src: url('./assets/fonts/rutan/rutan-thin.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-thin.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanBold';
  src: url('./assets/fonts/rutan/rutan-bold.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanDemibold';
  src: url('./assets/fonts/rutan/rutan-demibold.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-demibold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rutanBlack';
  src: url('./assets/fonts/rutan/rutan-black.ttf') format('truetype'),
    url('./assets/fonts/rutan/rutan-black.otf') format('otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'dekiru';
  src: url('./assets/fonts/dekiru/dekiru.ttf') format('truetype'),
    url('./assets/fonts/dekiru/dekiru.otf') format('otf');
  font-weight: normal;
  font-size: normal;
}

/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'rutanMedium';
  font-weight: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.container {
  max-width: 1366px;
}
